
<style>
.dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
#cylindrical{width:400px;height:200px;margin-top:-15px}
#line{width:400px;height:200px;margin-top:-15px}
#pie{width:400px;height:200px;margin-top:-15px}
</style>
<section class="rt_wrap content mCustomScrollbar">

 <div class="rt_content">  
     <!--开始：以下内容则可删除，仅为素材引用参考-->
     <h1 style="color:red;font-size:20px;font-weight:bold;text-align:center;">小小-夏简末</h1>
     <p style="color:red;font-size:16px;font-weight:bold;text-align:center;margin:8px 0;background:#FFC;padding:8px;">今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。山有木兮木有枝，心悦君兮君不知。</p> 
<!--统计图-->
<section style="overflow:hidden">
    <!--柱状图-->
    <div class="dataStatistic fl">
     <h3 style="background: #0000FF; height: 30px; margin-top: 0px; font-size: 20px; color: #FFFFFF;">开发团队</h3>
     <p>fgregregergerge</p>
    </div>
    <!--线性图-->
    <div class="dataStatistic fl">
     <h3 style="background: #0000FF; height: 30px; margin-top: 0px; font-size: 20px; color: #FFFFFF;">系统环境</h3>
     <p>fgregregergerge</p>
    </div>
</section>
