
<section class="rt_wrap content mCustomScrollbar">
 <form action="" method="post">
      <div class="page_title">
       <h2 class="fl">权限添加</h2>
       <a href="adjust_funding.html" class="fr top_rt_btn money_icon">权限添加</a>
      </div>
      <ul class="ulColumn2">
      	
       <div class="row cl" style="margin-top: 50px;">
			<label style="margin-left: 50px;">父级权限：</label>
			<div style="margin-left: 125px; margin-top: -20px;">
				<select name="fid" class="select">
					<option value="0">--请选择分类--</option>
					{volist name="list" id="v"}
					<option value="{$v.id}" {if condition="$one['fid'] == $v['id']"}selected="selected"{/if}>{$v.name}</option>
					{/volist}
				</select>
			</div>
		</div>
		
	   <li>
        <span class="item_name" style="width:120px;">菜单名称：</span>
        <input type="text" class="textbox textbox_225" value="{$one.name}" name="name" />
       </li>
       
       <li>
        <span class="item_name" style="width:120px;">模块：</span>
        <input type="text" class="textbox textbox_225" value="{$one.modules}" name="modules" />
       </li>
       
       <li>
        <span class="item_name" style="width:120px;">控制器：</span>
        <input type="text" class="textbox textbox_225" value="{$one.controller}" name="controller" />
       </li>
       
       <li>
        <span class="item_name" style="width:120px;">方法：</span>
        <input type="text" class="textbox textbox_225" value="{$one.action}" name="action" />
       </li>
       
       <div>
			<label style="margin-left: 50px;">显示状态：</label>
			<div style="margin-left: 120px; margin-top: -12px;">
				<input type="radio" value="1" name="state" />显示
				<input type="radio" value="0" name="state" />不显示
			</div>
		</div>
       
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" style="margin-left:125px; margin-top: 20px;" value="提交"/>
       </li>
      </ul>
 </form>
</section>
</body>
</html>
