
<section class="rt_wrap content mCustomScrollbar">
 <form action="" method="post">
      <div class="page_title">
       <h2 class="fl">类型添加</h2>
       <a href="{:url('Type/typeList')}" class="fr top_rt_btn money_icon">类型列表</a>
      </div>
      <ul class="ulColumn2">
       
       <li>
        <span class="item_name" style="width:120px;">类型名称：</span>
        <input type="text" class="textbox textbox_225" value="" name="name" />
       </li>
<!--       
       <li>
        <span class="item_name" style="width:120px; margin-top: -55px;">描述：</span>
        <textarea  name="description" class="textbox textbox_295" style="width: 300px; height: 100px; resize:none"></textarea>
       </li>-->
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" value="提交"/>
       </li>
      </ul>
 </form>
</section>
</body>
</html>

