<div class="footer">
			<ul>
				<li><img src="__PUBLIC__img/contact_icon.png" alt=""><span>QQ公众号</span></li>
				<li><img src="__PUBLIC__img/contact_icon.png" alt=""><span>QQ公众号</span></li>
				<li><img src="__PUBLIC__img/position_icon.png" alt=""><span>520余家售后网点</span></li>
				<li><img src="__PUBLIC__img/position_icon.png" alt=""><span>520余家售后网点</span></li>
			</ul>
			<hr>
			<div>
				<dl>
					<dt>帮助中心</dt>
					<dd>账号管理</dd>
					<dd>购物指南</dd>
					<dd>订单操作</dd>
				</dl>
				<dl>
					<dt>帮助中心</dt>
					<dd>账号管理</dd>
					<dd>购物指南</dd>
					<dd>订单操作</dd>
				</dl>
				<dl>
					<dt>帮助中心</dt>
					<dd>账号管理</dd>
					<dd>购物指南</dd>
					<dd>订单操作</dd>
				</dl>
				<dl>
					<dt>帮助中心</dt>
					<dd>账号管理</dd>
					<dd>购物指南</dd>
					<dd>订单操作</dd>
				</dl>

				<span>400-400-4000</span>
				<p>在 线 客 服</p>
			</div>

			<p>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号 </p>
			<p>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		<script type="text/javascript" src="__PUBLIC__js/bannerLeft.js"></script>
	</body>

</html>